[submodule "PaperMod"]
	path = themes/PaperMod
	url = https://https://github.com/adityatelange/hugo-PaperMod.git
[submodule "hugo-admonitions"]
	path = themes/hugo-admonitions
	url = https://https://github.com/KKKOZ/hugo-admonitions.git
